.react-autosuggest__input{
 font-size: 26px;
  height: 40px;
  text-align: center;
  width: auto;
}
.a1{
font-weight: bold;
color: #212121;


}

.b1{
  font-size: 20px;
}
.react-autosuggest__container{
 text-align: center;
}
.react-autosuggest__container--open{
   text-align: center;

}
.react-autosuggest__suggestions-container{


   text-align: left;
  width: auto;
  margin-top: 30px;

}
.react-autosuggest__suggestions-container--open{

}
.react-autosuggest__suggestions-list{
  list-style: none;
   text-align: left;


}
.react-autosuggest__suggestion{
  background-color: white;
     text-align: left;

}
