.react-autosuggest__input{
  font-size: 30px;
  height: 40px;
  text-align: center;
 

}
.a1{
font-weight: bold;
color: black;


}

.b1{
  font-size: 20px;
}
.react-autosuggest__container{

}
.react-autosuggest__container--open{


}
.react-autosuggest__suggestions-container{



  width: auto;
  margin-top: 30px;

}
.react-autosuggest__suggestions-container--open{

}
.react-autosuggest__suggestions-list{
  list-style: none;


}
.react-autosuggest__suggestion{
  background-color: white;

}
